*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.div-1{
    min-height: 50vh;
    width: 100%;
    display: flex;
    

}

.navlist{
    display: flex;
    gap: 2.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.navlist li{
   list-style: none;
}

.navlist li a{
   text-decoration: none;
   text-transform: uppercase;
   font-size: medium;
   color: aliceblue;
 }
 .left, .right{
    height: 100vh;
    display: flex;
    align-items: center;
 }
.left{
    background-color: #262525;
    width: 70%;
    padding-left: 30px;

}
.right{
    background:linear-gradient(-45deg,#3877ff ,#262525 70%);
    width: 30%;
}

.icons .fa-brands{
    color: #bbb;
    font-size: 40px;
}
.icons{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
}

.icon:hover{
    background: transparent;
}

.content{
    padding-left: 30px;
}

.content h2{
    color: #bbb;
}

.content h2 span{
    color: #5DBeee;
}

.content h1{
    color: #5DBeee;
    height: 40px;
    padding-top: 20px;
}
.content p{
    color: #bbb;
    font-size: 20px;
    padding-top: 20px;
    width: 60%;
}
.but button{
    border: 3px solid #5DBeee;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.but{
    padding-top: 10px;
}

button:nth-child(1){
   background-color: #5DBeee;
   
}

button:nth-child(2){
    background: transparent;
    color: #5DBeee
}


button:nth-child(1):hover{
    background: transparent;
    color: #5DBeee;
}


button:nth-child(2):hover{
    background: #5DBeee;
    color: #262525;
}

.icons .fa-brands:hover{
   cursor: pointer; 
   background:linear-gradient(#fff,#3877ff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.design .circle{
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 70%;
  transform: translate(-50%,-50%);
}

.circle:nth-child(1){
     background: linear-gradient(90deg,transparent 50%,#262525 50%);
     width: 38rem;
}

.circle:nth-child(2){
    width: 30rem;
    background-image: url(image/profile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 10px solid #fff;
    box-shadow:
    0 0 10px #fff,
    inset 0 0 10px #fff,
    0 0 20px #3877ff,
    inset 0 0 20px #3877ff,
    0 0 40px #3877ff,
    inset 0 0 40px #3877ff
    ;
   
}
